*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    outline: none; border:none;
    text-decoration: none;
    font-weight: normal;
}

html{
    font-size: 63.5%;;
    overflow: hidden;
}

body{
    overflow: hidden;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background:linear-gradient(#071952,#0B666A);
    padding:1.5rem;
}


section{
    padding:1rem 7%;
    min-height: 100%;
}

.btn{
    font-size: 5rem;
    padding:.7rem 4rem;
    background:rgba(255,255,255,.2);
    color:#fff;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    margin-top: 1rem;
    cursor: pointer;
    transition:.2s linear;
}

.btn:hover{
    background:rgba(255,255,255,.5);
    color:#555;
}

.heading{
    font-size: 3rem;
    text-align: center;
    padding:1rem;
    color:#fff;

}

header{
    width:35rem;
    background:rgba(255,255,255,.2);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    backdrop-filter: blur(.4rem);
    text-align: center;
    padding:1rem;
    border-radius: 1rem;
    font-style: italic;
    
}

header .user{
    padding-top: 2rem;
}

header .user img{
    margin:1rem 0;
    height:88px;
    width:88px;
    border-radius:50%;
    object-fit: cover;
    box-shadow: 0 0 0 1rem rgba(255,255,255,.2);
}

header .user .name{
    font-size: 3rem;
    color:#fff;
    padding:.5rem 0;
}

header .user .post{
    font-size: 1.8rem;
    color:#eee;
    font-weight: lighter;
}

header .navbar{
    padding:2rem 4rem;
}

header .navbar ul li{
    margin:1rem 0;
    list-style: none;
}

header .navbar ul li a{
    display: block;
    padding:1rem;
    font-size: 1rem;
    color:#fff;
    background:rgba(255,255,255,.2);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    border-radius: 1rem;
    transition: all .2s linear;
}

header .navbar ul li a:hover{
    background:rgba(255,255,255,.5);
    color:#555;
    transition: none;
}

.container{
    height:52rem;
    width:80rem;
    background:rgba(255,255,255,.2);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3);
    backdrop-filter: blur(.4rem);
    border-radius: 1rem;
    overflow: hidden;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    padding-bottom: 10rem;
}

.home h3{
    font-size: 2rem;
    font-weight: lighter;
    font-style: italic;
    color:#eee;
}

.home .name span{
    font-size: 2rem;
    color:#fff;
}

.home .post{
    padding:1rem 0;
}

.home .post span{
    font-size: 2rem;
    color:#fff;
}


.home .share a{
    background: rgba(255,255,255,.2);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    padding:1rem 2rem;
    margin:1rem;
    color:#fff;
    font-size: 2rem;
    border-radius: 1rem;
}

.home .share a:hover{
    background:rgba(255,255,255,.5);
    color:#555;
}

.about .content h3{
    font-size: 2.5rem;
    color:#eee;
}

.about .content h3 span{
    color:#fff;
}

.about .content p{
    font-size: 1.5rem;
    color:#eee;
    padding:.5rem 0;
}



.education .box-container{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-wrap: wrap;
    padding:2rem 0;
}

.education .box-container .box{
    width:30rem;
    padding:0 2rem;
    padding-bottom: 4rem;
    border-left: .2rem solid #eee;
}

.education .box-container .box .year{
    font-size: 2rem;
    color:#eee;
    position: relative;
}

.education .box-container .box .year::before{
    content:'';
    position: absolute;
    top:.3rem; left: -3.1rem;
    height:2rem;
    width:2rem;
    border-radius: 50%;
    background:#fff;
}

.education .box-container .box h3{
    font-size: 2rem;
    color:#fff;
    padding-top: 1rem;
}

.education .box-container .box p{
    font-size: 1.3rem;
    color:#eee;
    padding: 1rem 0;
}
.skills{
    font-size: 2em;
    color: #eee;
}



.theme-toggler{
    background:rgba(255,255,255,.2);
    box-shadow: 0 1rem 2rem rgba(0,0,0,.2);
    border-radius: 1rem;
    backdrop-filter: blur(.4rem);
}

.theme-toggler span{
    display: block;
    height:3rem;
    width:3rem;
    border-radius: 50%;
    cursor: pointer;
    margin:2rem 2.5rem;
    box-shadow: 0 0 0 .5rem rgba(255,255,255,.2),
                0 1rem 2rem rgba(0,0,0,.4);
}

.download-button
 {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    border-radius:55px;
    display: inline-block;
    margin-top: 10px;
    align-self: center;
 }
                
.download-button:hover
 {
    background-color: #555;
 }
.projects{
    
        font-size: large;
        color:yellow;
    
}
 section.Resume img{

    width: 60rem;
    height: 50rem;
    padding: 10px 20px;
 }

 
    
    
 